[submodule "bundle/vim-snippets"]
	path = bundle/vim-snippets
	url = https://github.com/honza/vim-snippets
[submodule "bundle/vim-obsession"]
	path = bundle/vim-obsession
	url = https://github.com/tpope/vim-obsession
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule "bundle/todo.txt-vim"]
	path = bundle/todo.txt-vim
	url = https://github.com/freitass/todo.txt-vim
[submodule "bundle/tern_for_vim"]
	path = bundle/tern_for_vim
	url = https://github.com/marijnh/tern_for_vim
[submodule "bundle/tcomment_vim"]
	path = bundle/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim
[submodule "bundle/neomake"]
	path = bundle/neomake
	url = https://github.com/benekastah/neomake
[submodule "bundle/floobits-neovim"]
	path = bundle/floobits-neovim
	url = https://github.com/Floobits/floobits-neovim
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe
[submodule "bundle/auto-pairs"]
	path = bundle/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule "bundle/vim-test"]
	path = bundle/vim-test
	url = https://github.com/janko-m/vim-test
[submodule "bundle/neoterm"]
	path = bundle/neoterm
	url = https://github.com/kassio/neoterm
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "bundle/vim-devicons"]
	path = bundle/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons
[submodule "bundle/ctrlpvim"]
	path = bundle/ctrlpvim
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "bundle/nerdtree-git-plugin"]
	path = bundle/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin
